/* styles.css */
@font-face {
    font-family: 'PermanentMarker'; /* Nombre que usarás en CSS */
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'PermanentMarker', sans-serif;
    background: black;
    height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la ventana */
    -webkit-user-select: none; /* Safari y Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Estándar */
}


/* Estiliza el canvas del juego */
canvas {
    width: 100%; /* Haz que el canvas ocupe todo el ancho */
    height: auto; /* Mantén la proporción del alto automáticamente */
    max-width: 100%; /* Ancho máximo permitido */
    max-height: 100%; /* Alto máximo permitido */
    border: 2px solid #fff; /* Opcional: un borde blanco */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto visual */
}

button {
    position: absolute;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo del menú de navegación */
nav {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    background-color: #0000007f; /* Color de fondo */
    color: white;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    /*padding: 10px 0;*/
}

/* Lista del menú */
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos hacia la derecha */
    gap: 20px; /* Espaciado entre los elementos del menú */
    padding-right: 150px; /* Espacio entre el borde derecho y los elementos */

}

/* Elementos individuales del menú */
nav ul li {
    margin-top: 10px;
}

/* Estilo de los enlaces */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    padding: 15px 12px;
    display: inline-block;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #00ddfa;
    color: white; /* Cambia el color al pasar el mouse */
    box-shadow: 0 0 10px 2px #00ddfa;
}


/* Secciones de contenido */
section {
    padding: 40px 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: white;
    margin-bottom: 50px;
}


/* Estilo del label */
.labelx {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    padding: 20px 0;
    display: flex;
    margin-left: 2%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

.labelx1 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    padding: 20px 0;
    display: flex;
    margin-left: 20%;
}


.menu-btn {
    display: none; /* Oculto por defecto */
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;

    /* Posicionamiento */
    position: fixed; /* Fija el botón en la esquina superior derecha */
    right: 20px; /* Espaciado desde el borde derecho */
    z-index: 1001; /* Asegura que esté encima de otros elementos */
}

.metamask-btn {
    background-color: #f6851b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 10px; /* Ajusta el margen derecho */
    top: 20px; /* Ajusta el margen superior */
    z-index: 1001;
    transition: background-color 0.3s;
}

.metamask-btn:hover {
    background-color: #e0761b;
}

.line {
    background-color: #97979777;
    width: 200px;
    height: 10px;
    border-top: 20px;
    border-color: black;
    border-style: hidden;
    border-radius: 5px;
    position: fixed;
    padding: 20px 20px;
    margin-left: 8px;
    margin-top: 10px;
}

#disconnectMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    display: none; /* Inicialmente oculto */
}

/* Esta clase hará que el mensaje sea visible cuando sea necesario */
#disconnectMessage.show {
    display: block;
}

#fullscreenButton {
    position: absolute;
    top: 80px;
    left: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999; /* Asegúrate de que el botón de pantalla completa se quede encima */
}


.mensaje_panel_jugar {
    position: absolute;
    top: 45%;
    left: 20%;
    background-color: #282a2c;

}

.labelx2 { 
    font-size: 28px;
    color: white;
}



/* Estilo para hacer el iframe responsivo */

/* Media Query para pantallas pequeñas */
@media (max-width: 1000px) {
    /* Mostrar el botón de menú */
    .menu-btn {
        display: block; /* Muestra el botón en pantallas pequeñas */

    }

    header {
        height: 40px;
    }


    /* Asegurar que el nav tenga la misma altura */
    nav {
        height: 20px; /* Asegura que la altura del menú sea constante */
        padding: 10px 20px; /* Ajustar el padding si es necesario */
    }

    /* Ocultar el menú de navegación por defecto */
    nav ul {
        display: none; /* Esconde los enlaces del menú */
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        align-items: center; /* Centra los elementos */
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 0;
    }

    /* Mostrar el menú cuando está activo */
    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0; /* Espacio entre los elementos */
    }

    nav ul li a {
        font-size: 16px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
        padding: 10px; /* Añade más espacio a los enlaces */
    }
        /* Ajustes para el label */
    .labelx {
        font-size: 16px; /* Reducir el tamaño del texto */
        padding: 10px 0; /* Reducir el padding */
    }

    .label-overlay {
        position: absolute;
        top: 35%;
        left: 50%;
        font-weight: bold;
        font-size: 40px;
        transform: translate(-50%, -50%); /* Centra el label en la imagen */
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra para mejorar la visibilidad */
        pointer-events: none;
    }

    .metamask-btn {
        background-color: #f6851b;
        color: white;
        border: none;
        padding: 5px 15px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        right: 100px; /* Ajusta el margen derecho */
        top: 5px; /* Ajusta el margen superior */
        z-index: 1001;
        transition: background-color 0.3s;
    }

    .line {
        top: 9px;
        left: 0;
        background-color: #4b4a4a;
        width: 138px;
        height: 10px;
        border-radius: 5px;
        position: fixed;
        padding: 8px 18px;
        
    }
    .labelx1 {
        display: none;

    }
}
