@font-face {
    font-family: 'PermanentMarker'; /* Nombre que usarás en CSS */
    src: url('fonts/PermanentMarker-Regular.ttf') format('truetype');
}

/* Estilo general del cuerpo */
body, html {
    margin: 0; /* Quita el margen por defecto del body y html */
    padding: 0; /* Quita el padding por defecto */
    width: 100%; /* Asegura que el body y html ocupen todo el ancho */
    height: 100%; /* Asegura que el body y html ocupen toda la altura */
    box-sizing: border-box; /* Para un cálculo más consistente de los tamaños */
    font-family: 'PermanentMarker', sans-serif;
    background:  #3a027e; 
}

/* Estilo del menú de navegación */
nav {
    position: fixed; /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    background-color: #0000007f; /* Color de fondo */
    color: white;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    /*padding: 10px 0;*/
}

/* Lista del menú */
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos hacia la derecha */
    gap: 20px; /* Espaciado entre los elementos del menú */
    padding-right: 150px; /* Espacio entre el borde derecho y los elementos */

}

/* Elementos individuales del menú */
nav ul li {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Estilo de los enlaces */
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    padding: 15px 12px;
    display: inline-block;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #00ddfa;
    color: white; /* Cambia el color al pasar el mouse */
    box-shadow: 0 0 10px 2px #00ddfa;
}


/* Secciones de contenido */
section {
    padding: 40px 20px;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: white;
    margin-bottom: 50px;
}

/* Estilo del label */
.labelx {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    padding: 20px 0;
    display: flex;
    margin-left: 2%;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

.labelx1 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 1000;
    padding: 20px 0;
    display: flex;
    margin-left: 20%;
}

/* Contenedor de la imagen y el label */
.image-container {
    position: relative;
    display: inline-block; /* Hace que la imagen y el label estén en línea */
    width: 100%;
}    

.imagh {
    position: relative; /* Permite control total sobre su posición */
    top: 0; /* Pegado al borde superior */
    left: 0; /* Pegado al borde izquierdo */
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    overflow: hidden; /* Asegura que no haya scroll dentro del contenedor */
}

/* Estilo de la imagen para cubrir todo el contenedor */
.logo {
    width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: 100%; /* La imagen se ajusta al alto del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio del div sin distorsionarse */
    opacity: 0.9;
}


        /* Label centrado sobre la imagen */
.label-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el label en la imagen */
    color: white;
    font-weight: bold;
    font-size: 120px;
    text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.6); /* Sombra para mejorar la visibilidad */
    pointer-events: none; /* Evita que el label interfiera con la interacción de la imagen */
    white-space: nowrap; /* Previene el salto de línea */
}

.label-overlay2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el label en la imagen */
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 50px rgba(0, 0, 0, 0.6); /* Sombra para mejorar la visibilidad */
    pointer-events: none; /* Evita que el label interfiera con la interacción de la imagen */
    white-space: nowrap; /* Previene el salto de línea */
}


.label-overlay3 {
    font-family: sans-serif;
    position: absolute;
    top: 45%;
    left: 0%;
    color: white;
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    word-wrap: break-word; /* Permite cortar las palabras largas */
    word-break: break-word; /* Fuerza el corte si es necesario */
    overflow-wrap: break-word; /* Refuerza los ajustes */
    white-space: normal; /* Permite saltos de línea */
    line-height: 1.5; /* Mejora la legibilidad del texto */
    font-family: Arial, sans-serif; /* Define una fuente legible */
    font-size: 14px; /* Ajusta el tamaño del texto */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Opcional: bordes para visualización */
    border-radius: 5px; /* Bordes redondeados */
}

.section-title {
    font-weight: bold;
    margin-top: 20px;
}

.fondo-negro {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    min-height: 90vh;
    height: 20%;

}

.Pers1 {
    position: absolute;
    top: 0%; /* Mueve la imagen hacia arriba */
    left: 0%;  /* Centra horizontalmente */
    width: 100%;
    height: 100%;
}

.divs {
    margin-top: 0%;
    margin-left: 5%;
    background-color: transparent;
    color: white;
    width: auto; /* Se ajusta automáticamente según el contenido */
    max-width: 25%; /* Máximo ancho opcional */
    min-width: 200px; /* Ancho mínimo */
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0.771);
    border-style: solid;
    border-radius: 15px;
    padding: 200px 10px;

    /* Transición suave */
    transition: transform 0.3s ease;
    display: inline-block;
}
/* Efecto al pasar el cursor */
.divs:hover {
    transform: scaleX(1.1) scaleY(1.2); /* Crece 10% en ancho y 20% en alto */
}

/* Efecto desaparecimiento de los divs */
.divs {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.5s ease;
}

.divs.visible {
    opacity: 1;
}

.Sobre_nosotrosx {
    background-color: #333;
    color: #f3f3f3;
    border-radius: 10px;
    padding: 20px; /* Espaciado interno más razonable */
    text-align: left; /* Alinea el texto a la izquierda */
}


.menu-btn {
    display: none; /* Oculto por defecto */
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;

    /* Posicionamiento */
    position: fixed; /* Fija el botón en la esquina superior derecha */
    right: 20px; /* Espaciado desde el borde derecho */
    z-index: 1001; /* Asegura que esté encima de otros elementos */
}

.metamask-btn {
    background-color: #f6851b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    right: 10px; /* Ajusta el margen derecho */
    top: 15px; /* Ajusta el margen superior */
    z-index: 1001;
    transition: background-color 0.3s;
}

.metamask-btn:hover {
    background-color: #e0761b;
    box-shadow: 0 0 10px 2px #e0761b;
}

.line {
    background-color: #97979777;
    width: 200px;
    height: 10px;
    border-top: 20px;
    border-color: black;
    border-style: hidden;
    border-radius: 5px;
    position: fixed;
    padding: 20px 20px;
    margin-left: 8px;
    margin-top: 10px;
}

.buttonx {
    background-color: #4ecb5d;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 61%;
    left: 50%;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttonx:hover {
    background-color: #19661d;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 70px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    position: absolute;
    top: 35.5%;
    left: 42%;
    margin-top: 0;
    text-align: center;
    z-index: 1001;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.close {
    position: absolute;
    top: 5%;
    left: 90%;
    text-align: right;
    cursor: pointer;
    font-size: 16px;
    color: #888;
    z-index: 1001;
}

.close:hover {
    color: #000;
}

.PanelPriv {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #00000071; /* Fondo opcional */
    text-align: center; /* Centrar contenido opcional */
}

.Empresa {
    position: absolute;
    background-color: #0000003c;
    margin-top: 2%;
    left: 1%;
    color: #f1f1f1;
    font-size: 16px;
    white-space: nowrap; /* Previene el salto de línea */
    border: 2px solid #f1f1f1; /* Grosor, estilo y color del borde */
    padding: 10px; /* Espaciado interno para mejorar la apariencia */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

.botonesRedes {
    display: flex; /* Usamos flexbox para alinear los botones horizontalmente */
    justify-content: flex-end; /* Alineamos los botones a la derecha */
    gap: 30px; /* Espacio entre los botones */
    position: absolute;
    top: 18%; /* Ajusta la distancia desde la parte superior */
    right: 3%; /* Ajusta la distancia desde el borde derecho */
}

.botonXxx {
    width: 40px;  /* Tamaño de la imagen */
    height: 40px; /* Tamaño de la imagen */
    background-color: #0000003c; /* Color de fondo */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.botonXxx:hover {
    background-color: #00bcd4;
    box-shadow: 0 0 10px 2px #00bcd4;
}

.contenedorx {
    margin-left: 22%; /* Mueve los botones 22% hacia la derecha */
}

.botonXx {
    display: inline-block; /* Hace que los botones estén en línea */
    background-color: #0000003c; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    margin-right: 4%; /* Espacio a la derecha entre botones */
    margin-top: 2.5%; /* Mueve los botones hacia abajo */
}

.botonXx:hover {
    background-color: #00bcd4; /* Color cuando se pasa el mouse */
    box-shadow: 0 0 10px 2px #00bcd4;
}


/* Botón de pre-registro */
#preRegisterBtn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Ancho fijo */
    height: 50px; /* Altura fija */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    padding: 0; /* Evitar cambios dinámicos por padding */
}

/* Botón deshabilitado (gris) */
#preRegisterBtn:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

/* Contenedor del formulario */
#formContainer {
    position: absolute;
    top: 40%;
    left: 35%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1001;
    
    position: fixed;
}

#formContainer div {
    margin-bottom: 10px;
    margin-right: 200px;
}

#formContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#formContainer input {
    width: 190%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitForm {
    margin-left: 10px;
    width: 190%;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botón habilitado (verde) */
.greenButton {
    background-color: green;
    color: white;
    animation: greenPulse 1.5s infinite;
}
/* Estilo básico para los botones */
.translation-button {
    background-color: #f6851b;
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed; /* Cambiado a fixed para que se quede en una posición fija */
    right: 160px; /* Coloca el botón a 20px del borde derecho */
    top: 17px; /* Coloca el botón a 20px desde el borde superior */
    z-index: 1001;
}

/* Estilo para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para los enlaces dentro del menú */
.dropdown-content {
    display: none;
    position: fixed; /* Cambiado a fixed para que se quede en una posición fija */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilo para los botones dentro del menú */
.dropdown-content button {
    color: black;
    text-decoration: none;
    display: block;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Botón principal del menú */
.dropdown button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #3e8e41;
}

/* Mostrar el contenido del menú cuando se hace hover sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Animación para botón verde */
@keyframes greenPulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px; /* Ancho fijo */
        height: 50px; /* Altura fija */
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        padding: 0; /* Evitar cambios dinámicos por padding */
    }
    50% {
        transform: scale(1.05); /* Escalado menor para mantener proporción */
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px; /* Ancho fijo */
        height: 50px; /* Altura fija */
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        padding: 0; /* Evitar cambios dinámicos por padding */
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px; /* Ancho fijo */
        height: 50px; /* Altura fija */
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        padding: 0; /* Evitar cambios dinámicos por padding */
    }
}

/* Media Query para pantallas pequeñas */
@media (max-width: 1000px) {
    /* Mostrar el botón de menú */
    .menu-btn {
        display: block; /* Muestra el botón en pantallas pequeñas */

    }

    header {
        height: 40px;
    }


    /* Asegurar que el nav tenga la misma altura */
    nav {
        height: 20px; /* Asegura que la altura del menú sea constante */
        padding: 10px 20px; /* Ajustar el padding si es necesario */
    }

    /* Ocultar el menú de navegación por defecto */
    nav ul {
        display: none; /* Esconde los enlaces del menú */
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        align-items: center; /* Centra los elementos */
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 0;
    }

    /* Mostrar el menú cuando está activo */
    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0; /* Espacio entre los elementos */
    }

    nav ul li a {
        font-size: 16px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
        padding: 10px; /* Añade más espacio a los enlaces */
    }
        /* Ajustes para el label */
    .labelx {
        font-size: 16px; /* Reducir el tamaño del texto */
        padding: 10px 0; /* Reducir el padding */
    }

    .label-overlay {
        position: absolute;
        top: 35%;
        left: 50%;
        font-weight: bold;
        font-size: 40px;
        transform: translate(-50%, -50%); /* Centra el label en la imagen */
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra para mejorar la visibilidad */
        pointer-events: none;
    }

    .metamask-btn {
        background-color: #f6851b;
        color: white;
        border: none;
        padding: 5px 15px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
        position: absolute;
        right: 100px; /* Ajusta el margen derecho */
        top: 5px; /* Ajusta el margen superior */
        z-index: 1001;
        transition: background-color 0.3s;
    }

    .line {
        top: 9px;
        left: 0;
        background-color: #4b4a4a;
        width: 138px;
        height: 10px;
        border-radius: 5px;
        position: fixed;
        padding: 8px 18px;
        
    }
    .labelx1 {
        display: none;

    }
}
